<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer  | LOGIN</title>
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
        <style>
          .container
          {
            background-color: yellow;
          }
          .our-focus 
          {
            background-color: yellow;
          }
          .site-footer
          {
            background-color: yellow;
          }

          .container-fluid{
            background-color:yellow;
            width: 100%;
          }
          body{
            background-color:yellow;
          }
          .navbar{
            background-color:yellow;
          }
        </style></head>
<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="main-logo-img mt-3" href="#"><img src="/static/img/logo.jpg" alt="sheep-logo" height="50px" width="180px">
            <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
          </a>
          
          <div class="row donate-sponsor">
            <a type="button" class="btn btn-success mr-1" id="donate" href="homepage">Home Page</a>
            <a type="button" class="btn btn-warning mr-1" id="sponsor" href="adminadashboard">Admin Dashboard</a>
            <a type="button" class="btn btn-primary mr-1" id="sponsor" href="adminlogin">Admin Login Page </a>
             <a type="button" class="btn btn-danger mr-1" id="sponsor" href="homepage">Logout</a>
          </div>
        </div>
      </nav>



<div class="login text-center mt-5"> 
    <h2>Sending the messages to Customers </h2>
    <form action="/adminsendmsgpyltr" method="post">
    <div class="msg">{{ msg }}</div>
        <!-- <input type="text" placeholder="fullname" id="fullname"> </br></br> -->
        
        <input type="text" name="username" placeholder="Enter Your Username"  id="username" required></br></br>
        <input type="text" name="email" placeholder="Enter the Email"  id="email" required></br></br>
        
        <input type="int" name="amount" placeholder="Enter the Pending Amount"  id="item" required></br></br>
        
        
        </br>
        </br>
    <button type="submit" id="button" class="btn btn-primary"> Send </button>
    </form>
</div>